@tailwind base;
@tailwind components;
@tailwind utilities;

.text-shadow {
    text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}

.bg-homepage-accent{
    background-image: url('../../public/images/homepage/homepage-top-banner.png');

}

.bg-gray-200{
    background-color:rgb(229 231 235);
}