@tailwind base;
@tailwind components;
@tailwind utilities;

.text-shadow {
    text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}

.bg-homepage-accent{
    background-image: url('../../public/images/homepage/homepage-top-banner.png');

}

.text-color {
    color: rgb(107, 139, 244);
}

.bg-color {
    background-color:  rgb(220 38 38);
}

.rounded-full {
    border-radius:  9999px;

}

.bg-gray-200{
    background-color:rgb(229 231 235);

}

.td:hover {
    background-color:  rgb(209 213 219);
}